/* APUNTES LARAVEL y VARIOS */
.php { color: #F5B041; }

.verde { color:green; }

.azul { color:blue; }

.rojo { color:red; }

.comment { 
    color:#817d74; 
    font-style: italic;}

.dolar { color:#154360; }

.code { color:#c9be62; }

.other { color:#E91E63;}

.tachado { text-decoration:line-through; }

table{ 
    color: white;
    background-color:black;
    border:1px solid white; }

table th { border-left:1px solid white; }

table thead { border-bottom:1px solid white; }

h1, h4 { background-color: #7DCEA0; }

h2 { background-color: #ABEBC6;}

h4 { background-color: #D5F5E3;}

/* APUNTES AXIOS */
.import { color:purple; }

.class { color:#28B463; }

.func { color:#F4D03F; }

.component { color:#2874A6; }

.codeAO { color:#154360; }

.codeAC { color:#5DADE2; }

.url { color:#D35400; }

/* CÓDIGOS ESTADO */
.codigo { color:darkblue; }

.web { color:darkgreen; }

.metodo { color:darkmagenta; }

.local { color:#85C1E9; }